## Importējam pandas

`pip install pandas`

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

## Pandas objekti

### Series

`pd.Series` - viendimensijas marķēts masīvs, kas spēj saturēt jebkāda veida datus.

#### Inicializācija

In [3]:
# index = [0, 1, 2, 3, 4, 5] - default noteikts
data = ['a', 'b', 'c', 'd', 'e', 'f']
s = pd.Series(data) # s = pd.Series(data, index=index)
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

`data` šeit var būt:
1. Python dict vai list
2. ndarray (numpy masīvs)
3. skalārais lielums (skaitlis) - šajā gadījumā `index` *ir nepieciešams*. Pandas atkārto doto skalāro lielumu pie visiem indeksiem.

#### NumPy īpašības

`pd.Series` ir līdzīgs numpy masīvam. To var padod gandrīz visām numpy funkcijam.

In [4]:
s[0]

'a'

In [5]:
s[:3]

0    a
1    b
2    c
dtype: object

In [6]:
s[s != 'c'] # s > s.median() jā s vērtības ir numeriskas

0    a
1    b
3    d
4    e
5    f
dtype: object

### DataFrame

`pd.DataFrame` - Divdimensiju, izmēru mainīgi, potenciāli neviendabīgi tabulas dati.
Datu struktūrā ir arī marķētas asis (rindas un kolonnas). Darbības var veikt gan kolonās, gan rindās. Var uzskatīt par `dict` līdzīgu konteineru `pd.Series` objektiem. Primāra Pandas datu struktūra.

#### Inicializācija

In [7]:
import numpy as np

In [11]:
df2 = pd.DataFrame({
    "A" : [0, 1, 2, 3],
    "B": pd.Timestamp("20221120"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foo",
})
df2

   A          B    C  D      E    F
0  0 2022-11-20  1.0  3   test  foo
1  1 2022-11-20  1.0  3  train  foo
2  2 2022-11-20  1.0  3   test  foo
3  3 2022-11-20  1.0  3  train  foo

In [12]:
df2["A"]

0    0
1    1
2    2
3    3
Name: A, dtype: int64

In [14]:
df2[0:2]

   A          B    C  D      E    F
0  0 2022-11-20  1.0  3   test  foo
1  1 2022-11-20  1.0  3  train  foo